@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: pokemonHollow;
  src: url(PokemonHollow.ttf);
}
@font-face {
  font-family: pokemonSolid;
  src: url(PokemonSolid.ttf);
}

.hollow {
  font-family: pokemonHollow;
}

.solid {
  font-family: pokemonSolid;
}

.bowlby {
  font-family: "Bowlby One SC", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.pokeballText {
  scale: 2;
}

.typography {
  font-size: clamp(1rem, 0.3043rem + 3.4783, 3rem);
}
